[Unit]
Description=FWE Go server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fwego -root-path=/srv
TimeoutSec=300

[Install]
WantedBy=multi-user.target
