[Unit]
Description=FWE Go server
After=network.target
Before=httpd.service

[Service]
Type=simple
ExecStart=/usr/bin/fwego
EnvironmentFile-=/etc/sysconfig/fwego
TimeoutSec=300

[Install]
WantedBy=multi-user.target
